# <span style='color:black'>Case Study: How Does a Bike-Share Navigate Speedy Success?</span>

## <span style='color:black'>We need to import pandas to import all csv file</span>

In [34]:
import pandas as pd
import numpy as np
import datetime

### <span style='color:black'>Read all csv file</span>

In [35]:
df1 = pd.read_csv('202111-divvy-tripdata.csv')
df2 = pd.read_csv('202110-divvy-tripdata.csv')
df3 = pd.read_csv('202109-divvy-tripdata.csv')
df4 = pd.read_csv('202108-divvy-tripdata.csv')
df5 = pd.read_csv('202107-divvy-tripdata.csv')
df6 = pd.read_csv('202106-divvy-tripdata.csv')
df7 = pd.read_csv('202105-divvy-tripdata.csv')
df8 = pd.read_csv('202104-divvy-tripdata.csv')
df9 = pd.read_csv('202103-divvy-tripdata.csv')
df10 = pd.read_csv('202102-divvy-tripdata.csv')
df11 = pd.read_csv('202101-divvy-tripdata.csv')
df12 = pd.read_csv('202012-divvy-tripdata.csv')

In [36]:
df = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12])

### Display Info

In [37]:
print((len(df.index),len(df.columns)))

(5479096, 13)

## <span style='color:black'>Now we want to watch the column name</span>

In [38]:
df.columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')

## <span style='color:black'>Display some data in the data frame</span>

In [39]:
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,7C00A93E10556E47,electric_bike,2021-11-27 13:27:38,2021-11-27 13:46:38,NaN,NaN,NaN,NaN,41.93,-87.72,41.96,-87.73,casual
1,90854840DFD508BA,electric_bike,2021-11-27 13:38:25,2021-11-27 13:56:10,NaN,NaN,NaN,NaN,41.96,-87.70,41.92,-87.70,casual
2,0A7D10CDD144061C,electric_bike,2021-11-26 22:03:34,2021-11-26 22:05:56,NaN,NaN,NaN,NaN,41.96,-87.70,41.96,-87.70,casual
3,2F3BE33085BCFF02,electric_bike,2021-11-27 09:56:49,2021-11-27 10:01:50,NaN,NaN,NaN,NaN,41.94,-87.79,41.93,-87.79,casual
4,D67B4781A19928D4,electric_bike,2021-11-26 19:09:28,2021-11-26 19:30:41,NaN,NaN,NaN,NaN,41.90,-87.63,41.88,-87.62,casual

In [40]:
df.drop_duplicates().count()

ride_id               5479096
rideable_type         5479096
started_at            5479096
ended_at              5479096
start_station_name    4827651
start_station_id      4827654
end_station_name      4780187
end_station_id        4780187
start_lat             5479096
start_lng             5479096
end_lat               5474358
end_lng               5474358
member_casual         5479096
dtype: int64

<span style='color:black'>We notice that we have no change in the number of lines, so we have no duplicate data.</span>

## <span style='color:black'>Let's to calule the distance traveled in kilometers</span>

In [41]:
def distance(lat1, lon1, lat2, lon2, R=6371):
    lat1, lon1, lat2, lon2 = np.radians([lat1, lon1, lat2, lon2])
        
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = np.sin(dlat/2.0)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2.0)**2
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1-a))
    
    return R * c * 1000

In [42]:
df['ride_length'] = distance(df['start_lat'],df['start_lng'],df['end_lat'],df['end_lng'])

In [43]:
df.head()
# ride length is in meter

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,ride_length
0,7C00A93E10556E47,electric_bike,2021-11-27 13:27:38,2021-11-27 13:46:38,NaN,NaN,NaN,NaN,41.93,-87.72,41.96,-87.73,casual,3436.844114
1,90854840DFD508BA,electric_bike,2021-11-27 13:38:25,2021-11-27 13:56:10,NaN,NaN,NaN,NaN,41.96,-87.70,41.92,-87.70,casual,4447.797066
2,0A7D10CDD144061C,electric_bike,2021-11-26 22:03:34,2021-11-26 22:05:56,NaN,NaN,NaN,NaN,41.96,-87.70,41.96,-87.70,casual,0.000000
3,2F3BE33085BCFF02,electric_bike,2021-11-27 09:56:49,2021-11-27 10:01:50,NaN,NaN,NaN,NaN,41.94,-87.79,41.93,-87.79,casual,1111.949266
4,D67B4781A19928D4,electric_bike,2021-11-26 19:09:28,2021-11-26 19:30:41,NaN,NaN,NaN,NaN,41.90,-87.63,41.88,-87.62,casual,2372.956313

### Date conversion

In [44]:
df['started_at'] = pd.to_datetime(df['started_at'])
df['ended_at'] = pd.to_datetime(df['ended_at'])

###  Ride duration in seconds

In [45]:
df['ride_duration'] = df['ended_at'].astype(int)/ 10**9 - df['started_at'].astype(int)/ 10**9

/var/folders/39/3xj1c_ls393btby39t3w7w300000gn/T/ipykernel_4883/3373606377.py:1: FutureWarning: casting datetime64[ns] values to int64 with .astype(...) is deprecated and will raise in a future version. Use .view(...) instead.
  df['ride_duration'] = df['ended_at'].astype(int)/ 10**9 - df['started_at'].astype(int)/ 10**9

### Convert ride_duration to minutes

In [46]:
df['ride_duration'] = df['ride_duration']/60

In [47]:
df[['started_at','ended_at','ride_duration']].head(5)

           started_at            ended_at  ride_duration
0 2021-11-27 13:27:38 2021-11-27 13:46:38      19.000000
1 2021-11-27 13:38:25 2021-11-27 13:56:10      17.750000
2 2021-11-26 22:03:34 2021-11-26 22:05:56       2.366667
3 2021-11-27 09:56:49 2021-11-27 10:01:50       5.016667
4 2021-11-26 19:09:28 2021-11-26 19:30:41      21.216667

In [48]:
df[['started_at','ended_at','ride_duration']].sort_values(by=['ride_duration']).head(5)

               started_at            ended_at  ride_duration
61163 2020-12-15 12:10:14 2020-11-25 08:00:16  -29049.966667
26808 2020-12-15 11:35:39 2020-11-25 07:40:56  -29034.716667
25965 2020-12-15 11:34:23 2020-11-25 08:00:15  -29014.133333
87858 2020-12-15 12:12:43 2020-11-25 08:42:16  -29010.450000
90888 2020-12-15 11:34:38 2020-11-25 08:09:43  -29004.916667

### We see that we have negative durations

In [49]:
df[df['started_at'] <= df['ended_at']].count()

ride_id               5478515
rideable_type         5478515
started_at            5478515
ended_at              5478515
start_station_name    4827132
start_station_id      4827135
end_station_name      4779678
end_station_id        4779678
start_lat             5478515
start_lng             5478515
end_lat               5473779
end_lng               5473779
member_casual         5478515
ride_length           5473779
ride_duration         5478515
dtype: int64

In [50]:
df = df[df['started_at'] < df['ended_at']]

In [51]:
df.sort_values(by=['ride_duration'])

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,ride_length,ride_duration
287357,A645A00ABF309E8E,classic_bike,2021-05-20 18:18:09,2021-05-20 18:18:10,New St & Illinois St,TA1306000013,New St & Illinois St,TA1306000013,41.890847,-87.618617,41.890847,-87.618617,member,0.000000,0.016667
333859,7DB9C18EFA0D3F9A,classic_bike,2021-05-06 17:08:49,2021-05-06 17:08:50,Wells St & Elm St,KA1504000135,Wells St & Elm St,KA1504000135,41.903222,-87.634324,41.903222,-87.634324,member,0.000000,0.016667
33382,6679338A5D81C8D2,classic_bike,2021-10-10 19:32:52,2021-10-10 19:32:53,Clark St & Wellington Ave,TA1307000136,Clark St & Wellington Ave,TA1307000136,41.936497,-87.647539,41.936497,-87.647539,casual,0.000000,0.016667
10806,B8909E40DBBB3DEA,electric_bike,2021-09-25 08:44:40,2021-09-25 08:44:41,NaN,NaN,NaN,NaN,41.970000,-87.660000,41.970000,-87.660000,member,0.000000,0.016667
26319,6ACA37010D4535EA,classic_bike,2021-07-11 13:27:20,2021-07-11 13:27:21,Ashland Ave & Augusta Blvd,13248,Ashland Ave & Augusta Blvd,13248,41.899643,-87.667700,41.899643,-87.667700,member,0.000000,0.016667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
640346,99415B003B7E7EEE,docked_bike,2021-07-08 19:29:49,2021-08-11 21:56:58,Kedzie Ave & Milwaukee Ave,13085,Base - 2132 W Hubbard Warehouse,Hubbard Bike-checking (LBS-WH-TEST),41.929567,-87.707857,41.889955,-87.680651,casual,4946.658618,49107.150000
81713,E6E1E5BFFD72ECEC,docked_bike,2021-06-05 23:33:51,2021-07-12 13:55:14,Clark St & Lake St,KA1503000012,Base - 2132 W Hubbard Warehouse,Hubbard Bike-checking (LBS-WH-TEST),41.886021,-87.630876,41.889955,-87.680651,casual,4143.492003,52701.383333
46321,BDA1217EC8532C7B,docked_bike,2021-05-02 02:56:07,2021-06-08 13:37:43,State St & Van Buren St,TA1305000035,Wells St & Polk St,SL-011,41.877181,-87.627844,41.872596,-87.633502,casual,692.373447,53921.600000
545476,7F0578ABF030FC83,docked_bike,2021-06-04 22:03:33,2021-07-13 14:15:14,Streeter Dr & Grand Ave,13022,Base - 2132 W Hubbard Warehouse,Hubbard Bike-checking (LBS-WH-TEST),41.892278,-87.612043,41.889955,-87.680651,casual,5684.910793,55691.683333
595683,F043F0F6A1AA4F85,docked_bike,2021-06-05 02:27:26,2021-07-13 22:51:35,Michigan Ave & Lake St,TA1305000011,Malcolm X College Vaccination Site,631,41.886024,-87.624117,41.877618,-87.673895,casual,4225.656003,55944.150000

In [52]:
df['day_of_week'] = df['started_at'].dt.day_name()

In [53]:
df[['started_at','day_of_week']].sample(10)

                started_at day_of_week
398302 2021-05-08 16:54:45    Saturday
472330 2021-10-30 14:05:13    Saturday
268166 2021-08-14 21:24:45    Saturday
639869 2021-08-31 07:15:59     Tuesday
45400  2020-12-13 14:59:16      Sunday
493504 2021-07-05 21:37:03      Monday
333253 2021-05-06 18:18:48    Thursday
564364 2021-07-11 17:16:19      Sunday
165297 2021-11-02 13:40:55     Tuesday
599659 2021-09-14 07:33:36     Tuesday

In [54]:
df['day_of_week'].value_counts()

Saturday     976861
Sunday       850214
Friday       783845
Wednesday    733549
Tuesday      732571
Thursday     711235
Monday       689747
Name: day_of_week, dtype: int64

## <span style='color:black'>Mean ride length</span>

In [55]:
np.round(df['ride_length'].mean(), 1)

2194.2

## <span style='color:black'>Max ride length</span>

In [56]:
np.round(df['ride_length'].max(), 1)

114383.6

## <span style='color:black'>Mode day of week</span>

In [57]:
df['day_of_week'].mode()

0    Saturday
dtype: object

In [58]:
print((len(df.index),len(df.columns)))

(5478022, 16)

# Export Final DataSet

In [62]:
df.to_csv("cs2_df.csv")